body{
    background-color: blanchedalmond;
    text-align: center;
    
}
label{
    background-color: orange;
    border-radius: 30px;
    padding: 5px;
    font-size: medium;
}
button{
    background-color: blanchedalmond;
    border-radius: 30px;
}
input{
    background-color: blanchedalmond;
    border-style: dotted;
    border-radius: 30px;
}

th{
    width: 300px;
    background-color: rgb(248, 194, 113);
}
td{
    width: 900px;
    padding: 10px;
    border-style: solid;   
}


